<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Image Capture</title>
</head>

<body>
    <h1>Camera Image Capture</h1>
    <form id="imageForm">
        <button type="submit">Capture and Send Image</button>
    </form>
    <img id="capturedImage" style="display: none;">
    <canvas id="imageCanvas" style="display: none;"></canvas>

    <div id="result">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/main.js">
    </script>
</body>

</html>